apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-device-service
  namespace: {{ .Values.global.namespace }}
  labels:
    app: device-service
spec:
  type: ClusterIP
  ports:
  - port: 8081
    targetPort: {{ .Values.port }}
    protocol: TCP
    name: http
  selector:
    app: device-service
