apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-kafka-ui
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: 8080
    protocol: TCP
    name: web
  selector:
    app: kafka-ui
