image:
  repository: mysql
  tag: "8.3.0"
  pullPolicy: IfNotPresent

auth:
  rootPassword: password
  database: energy_tracker

persistence:
  enabled: false
  size: 10Gi

service:
  type: ClusterIP
  port: 3306
  
resources:
  requests:
    memory: "256Mi"
    cpu: "250m"
  limits:
    memory: "512Mi"
    cpu: "500m"