apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-ingestion-service
  namespace: {{ .Values.global.namespace }}
  labels:
    app: ingestion-service
spec:
  type: ClusterIP
  ports:
  - port: {{ .Values.port }}
    targetPort: {{ .Values.port }}
    protocol: TCP
    name: http
  selector:
    app: ingestion-service
