apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-user-service
  namespace: {{ .Values.global.namespace }}
  labels:
    app: user-service
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: {{ .Values.port }}
    protocol: TCP
    name: http
  selector:
    app: user-service
