on:
  push:
    branches: [ main ]

name: AWS ECR Push

jobs:
  detect-changes:
      runs-on: ubuntu-latest
      outputs:
        services: ${{ steps.filter.outputs.services }}
      steps:
        - uses: actions/checkout@v4
  
        - id: filter
          uses: dorny/paths-filter@v3
          with:
            filters: |
              services:
                - 'services/**'
                
  build-and-push:
    name: Build and Push
    needs: detect-changes
    if: needs.detect-changes.outputs.services != '[]'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: ${{ fromJson(needs.detect-changes.outputs.services) }}

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ vars.AWS_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1
      with:
        mask-password: true

    - name: Build, tag, and push the image to Amazon ECR
      id: build-image
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
      run: |
        # Build the FRONTEND container and push the image to ECR
        SERVICE_NAME=$(basename ${{ matrix.service }})
        IMAGE_URI=$ECR_REGISTRY/$SERVICE_NAME
        IMAGE_TAG=latest
        
        docker build -t $IMAGE_URI:$IMAGE_TAG ${{ matrix.service }}
        echo "Pushing image to ECR..."
        docker push $IMAGE_URI:$IMAGE_TAG
        # echo "::set-output name=image::$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG" >> $GITHUB_OUTPUT
        echo "image=$IMAGE_URI:$IMAGE_TAG" >> $GITHUB_OUTPUT

